/**
 * @name Akudama Drive
 * @author Moona
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/53580-akudama-drive.html
 * @authorLink https://vsthemes.org/user/Moona/
 * @authorId 148533
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.2;
    --messagetransparency: 0.5;
    --guildchanneltransparency: 0.2;
    --memberlistransparency: 0;
    --accentcolor: 74,0,0;
    --background: url("https://vsthemes.org/uploads/posts/2022-10/1665315698_pxojckcvhmdxvsss9csgz0qw2ri4gw0w8jyhesdv_zfpdtdeui7o55wn5ltaeif-kvr9gimirim7gxonswae8jkd.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
